{% macro Menu() %}
	<nav class="Nav">
		<ul class="NavList">
			<li class="NavList-item">Menu 1</li>
			<li class="NavList-item">Menu 2</li>
			<li class="NavList-item">Menu 3</li>
			<li class="NavList-item">Menu 4</li>
			<li class="NavList-item">Menu 5</li>
		</ul>
	</nav>
{% endmacro %}