{% extends "../layouts/main.twig" %}

{% set title = "Page index" %}

{% block stylesheets %}
	<link rel="stylesheet" href="css/index.css" media="screen"/>
{% endblock %}

{% block content %}
	<a href="pl.html" class="LinkChild">Page article</a>
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="js/index.js"></script>
{% endblock %}