.header
{
	background:tomato;
	text-align:center;
	font-size:20px; 
	font-family: $time;
	padding-top:10px;
}

.LinkChild
{
	color:#fff;
	background:blue;
	padding:10px 20px;
	border-radius:3px;
	display:inline-block;
	margin:20px 20px;
	text-decoration:none;
}