{% from "../../components/menu/menu.twig" import Menu as Menu %}
	<header class="header">
		<h1>Efficom 1er cours nodeJS<i class="icons icons-graphic-design icons-2x"></i></h1>
		{{ Menu() }}
	</header>
