@import "../../assets/stylesheets/variables";
body
{
	background:#ededed;
}

.Productlist
{
	font-size:0;
	margin-top:20px;
}
	.Productlist-item
	{
		display: inline-block;
		width:25%;
		font-size:16px;
	}
		.ProductList-productName{}
		.ProductList-productPrice{}
		.ProductList-productColor{}
		.ProductList-productVisual
		{
			display: block;
			max-width: 100%;

		}
		.ProductList-productVisual--hidden
		{
			display:none;
		}
