{% extends "../layouts/main.twig" %}

{% set title = "Page article" %}

{% block stylesheets %}
	<link rel="stylesheet" href="css/pl.css" media="screen"/>
{% endblock %}

{% block content %}
	<a href="index.html" class="LinkChild">Retour</a>
	<ul class="Productslist">
		
	</ul>
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="js/pl.js"></script>
{% endblock %}